.container {
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:24px;
    flex-direction: column;
}
.my_content {
    background-color:red;
    color:white;
    width:50%;
    height:40vh;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.btn {
    background-color: rgb(173, 40, 109);
    color:white;
    border: none;
    padding:5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.my_status{
    height:50px;
}